

.pg-link i{
 color:rgb(104, 104, 104);
 margin-right: 10px;
 font-size: 24px;
}
.pg-link:hover i{
    color: blue;
}
.pg-linkman i{
    color:white;
    font-size: 25px;

}
.pg-linkman:hover i{
    color: rgb(212, 107, 51);
}
.nav-link{
    color: white;
}
.nav-item a:hover{
    color: rgb(212, 107, 51);
}
